<md-dialog ng-cloak flex="70" aria-label="" ng-init="vm.init()" class="default-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Selecione a agência</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>

    <div ng-switch on="vm.switch" layout-padding>

        <md-dialog-content ng-switch-when="list">

            <form name="formSearch" class="filter">
                <h5>Utilize o campo abaixo para filtrar a listagem.</h5>
                <div layout-gt-sm="row">
                    <md-input-container flex-gt-sm="50" flex-gt-sm layout-xs="100">
                        <label>Código</label>
                        <input ng-model="vm.filter.CB251_NR_AGENC">
                    </md-input-container>

                    <md-input-container flex-gt-sm="50" layout-xs="100">
                        <label>Nome</label>
                        <input ng-model="vm.filter.CB251_NM_AGENC">
                    </md-input-container>
                </div>
            </form>
            <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.agencia.selected.length">
                <div class="md-toolbar-tools">
                    <span>Agência</span>
                    <span flex></span>

                    <md-button class="md-primary" ng-click="vm.create()" ng-if="vm.formShow">
                        <md-icon>add</md-icon>
                        Adicionar agência
                    </md-button>
                    <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                        <md-icon>refresh</md-icon>
                        Atualizar listagem
                    </md-button>
                </div>
            </md-toolbar>
            <md-toolbar class="md-accent md-hue-1" ng-show="vm.agencia.selected.length">
                <div class="md-toolbar-tools">
                    <span>{{vm.agencia.selected.length}} {{vm.agencia.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}} </span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="vm.remove()">
                        <md-icon>delete</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div>
                <md-table-container>
                    <table md-table md-row-select="false" multiple="false" ng-model="vm.agencia.selected" md-progress="vm.agencia.promise">
                        <thead md-head md-order="vm.agencia.order">
                            <tr md-row>
                                <th md-column ng-if="vm.formShow"><span></span></th>
                                <th md-column md-order-by=""><span>Código</span></th>
                                <th md-column md-order-by=""><span>Dígito</span></th>
                                <th md-column md-order-by=""><span>Descrição</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="item" md-select-id="ROW" ng-repeat="item in vm.agencia.data | orderBy: vm.agencia.order" class="pointer">
                                <td md-cell ng-if="vm.formShow">
                                    <md-button class="md-icon-button" ng-click="vm.update(item)">
                                        <md-icon>mode_edit</md-icon>
                                    </md-button>
                                </td>
                                <td md-cell ng-click="vm.itemClick(item)">{{item.CB251_NR_AGENC}}</td>
                                <td md-cell ng-click="vm.itemClick(item)">{{item.CB251_NR_DGAGEN}}</td>
                                <td md-cell ng-click="vm.itemClick(item)">{{item.CB251_NM_AGENC}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.agencia.limit" md-page="vm.agencia.page" md-total="{{vm.agencia.total}}" md-page-select md-on-paginate="vm.agencia.pagination"></md-table-pagination>
            </div>
        </md-dialog-content>

        <div ng-switch-when="form">

            <md-dialog-content>
                <form name="form">

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Banco</label>
                            <input name="CB250_NM_BANCO" ng-model="vm.agenciaForm.CB250_NM_BANCO" required maxlength="60" disabled>
                            <div ng-messages="form.CB250_NM_BANCO.$error" multiple md-auto-hide="false">
                                <div ng-message="required">Campo obrigatório.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>CNPJ da agência</label>
                            <input name="CB251_NR_CNPJ" ng-model="vm.agenciaForm.CB251_NR_CNPJ" ui-br-cnpj-mask required>
                            <div ng-messages="form.CB251_NR_CNPJ.$error" multiple md-auto-hide="false">
                                <div ng-message="required">Campo obrigatório.</div>
                                <div ng-message="cnpj">CNPJ inválido.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Número da agência</label>
                            <input type="number" max="99999" name="CB251_NR_AGENC" ng-model="vm.agenciaForm.CB251_NR_AGENC" required>
                            <div ng-messages="form.CB251_NR_AGENC.$error">
                                <div ng-message="required">Campo obrigatório.</div>
                                <div ng-message="max">Código não permitido</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Dígito da agência</label>
                            <input type="number" name="CB251_NR_DGAGEN" ng-model="vm.agenciaForm.CB251_NR_DGAGEN">
                            <div ng-messages="form.CB251_NR_DGAGEN.$error">
                                <div ng-message="required">Campo obrigatório.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Nome da agência</label>
                            <input name="CB251_NM_AGENC" ng-model="vm.agenciaForm.CB251_NM_AGENC" required maxlength="60">
                            <div ng-messages="form.CB251_NM_AGENC.$error" multiple md-auto-hide="false">
                                <div ng-message="required">Campo obrigatório.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container>
                            <label>CEP</label>
                            <input name="CB251_NR_CEP" ng-model="vm.agenciaForm.CB251_NR_CEP" ui-br-cep-mask cep-search cep-search-event="vm.cepSearch(event)">
                            <div ng-messages="form.CB251_NR_CEP.$error">
                                <div ng-message="cep">CEP inválido.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Endereço</label>
                            <input name="CB251_NM_END" ng-model="vm.agenciaForm.CB251_NM_END">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="20">
                            <label>Número</label>
                            <input name="CB251_NR_END" ng-model="vm.agenciaForm.CB251_NR_END">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Complemento</label>
                            <input name="CB251_DS_COMPL" ng-model="vm.agenciaForm.CB251_DS_COMPL">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Bairro</label>
                            <input name="CB251_NM_BAIRRO" ng-model="vm.agenciaForm.CB251_NM_BAIRRO">
                        </md-input-container>
                    </div>

                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Estado</label>
                            <input name="CB251_SG_ESTADO" ng-model="vm.agenciaForm.CB251_SG_ESTADO">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm="">
                            <label>Cidade</label>
                            <input name="CB251_NM_CIDADE" ng-model="vm.agenciaForm.CB251_NM_CIDADE">
                        </md-input-container>
                    </div>
                </form>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>

                <md-button ng-click="vm.back()">
                    <i class="" aria-hidden="true"></i> Voltar
                </md-button>

                <md-button class="md-raised md-primary" ng-click="vm.save()" ng-disabled="form.$invalid">
                    <i class="fa fa-check" aria-hidden="true"></i> Salvar
                </md-button>
            </md-dialog-actions>
        </div>
    </div>
</md-dialog>