<div layout="column" ng-cloak class="agencia" ng-init="vm.init()">
    <form name="formSearch" class="filter">
        <h5>Utilize os campos abaixo para filtrar a listagem.</h5>
        <div layout-gt-sm="row">
            <md-input-container flex-gt-sm="50" flex-gt-sm layout-xs="100">
                <label>Código do banco</label>
                <input ng-model="vm.filter.CB251_CD_COMPSC">
            </md-input-container>

            <md-input-container flex-gt-sm="70" layout-xs="100">
                <label>Nome do banco</label>
                <input ng-model="vm.filter.CB250_NM_BANCO">
            </md-input-container>
            <md-input-container flex-gt-sm="50" flex-gt-sm layout-xs="100">
                <label>Código do agência</label>
                <input ng-model="vm.filter.CB251_NR_AGENC">
            </md-input-container>

            <md-input-container flex-gt-sm="70" layout-xs="100">
                <label>Nome do agência</label>
                <input ng-model="vm.filter.CB251_NM_AGENC">
            </md-input-container>
        </div>
    </form>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.agencia.selected.length">
        <div class="md-toolbar-tools">
            <span>Banco / Agência</span>
            <span flex></span>
            <md-button class="md-primary" ng-click="vm.create()">
                <md-icon>add</md-icon>
                Adicionar
            </md-button>
            <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                <md-icon>refresh</md-icon>
                Atualizar listagem
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-accent md-hue-1" ng-show="vm.agencia.selected.length">
        <div class="md-toolbar-tools">
            <span>{{vm.agencia.selected.length}} {{vm.agencia.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}} </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.remove()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="content" flex>
        <md-table-container>
            <table md-table md-row-select="true" multiple="true" ng-model="vm.agencia.selected" md-progress="vm.agencia.promise">
                <thead md-head md-order="vm.agencia.order">
                    <tr md-row>
                        <th md-column><span></span></th>
                        <th md-column md-order-by=""><span>Nº do banco</span></th>
                        <th md-column md-order-by=""><span>Nome do banco</span></th>
                        <th md-column md-order-by=""><span>Nº da agência</span></th>
                        <th md-column md-order-by=""><span>Dígito da agência</span></th>
                        <th md-column md-order-by=""><span>Nome da agência</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="item" md-select-id="ROW" ng-repeat="item in vm.agencia.data | orderBy: vm.agencia.order">
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="vm.update(item)">
                                <md-icon>mode_edit</md-icon>
                            </md-button>
                        </td>
                        <td md-cell>{{item.CB251_CD_COMPSC}}</td>
                        <td md-cell>{{item.CB250_NM_BANCO}}</td>
                        <td md-cell>{{item.CB251_NR_AGENC}}</td>
                        <td md-cell>{{item.CB251_NR_DGAGEN}}</td>
                        <td md-cell>{{item.CB251_NM_AGENC}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
    <div layout="row" layout-align="center center" class="back-pagination">
        <span flex></span>
        <md-button class="md-primary" ui-sref="menu()">
            <md-tooltip md-direction="left">Voltar para o menu</md-tooltip>
            <md-icon>arrow_back</md-icon>
            Voltar
        </md-button>
        <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.agencia.limit" md-page="vm.agencia.page" md-total="{{vm.agencia.total}}" md-page-select md-on-paginate="vm.agencia.pagination"></md-table-pagination>
    </div>
</div>