<div layout="column" ng-cloak class="roteiro-contabil" ng-init="vm.init()">
    <form name="formSearch" class="filter">
        <h5>Utilize os campos abaixo para filtrar a listagem.</h5>
        <div layout-gt-sm="row">
            <md-input-container flex-gt-sm="50" flex-gt-sm layout-xs="100">
                <label>Código do roteiro</label>
                <input ng-model="vm.filter.BKN509_CD_ROTCT">
            </md-input-container>

            <md-input-container flex-gt-sm="70" layout-xs="100">
                <label>Nome do roteiro</label>
                <input ng-model="vm.filter.BKN509_NM_EVENTO">
            </md-input-container>
        </div>
    </form>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.roteiroContabil.selected.length">
        <div class="md-toolbar-tools">
            <span>Roteiro contábil</span>
            <span flex></span>
            <md-button class="md-primary" ng-click="vm.create()">
                <md-icon>add</md-icon>
                Adicionar
            </md-button>
            <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                <md-icon>refresh</md-icon>
                Atualizar listagem
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-accent md-hue-1" ng-show="vm.roteiroContabil.selected.length">
        <div class="md-toolbar-tools">
            <span>{{vm.roteiroContabil.selected.length}} {{vm.roteiroContabil.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}} </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.remove()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="content" flex>
        <md-table-container>
            <table md-table md-row-select="true" multiple="true" ng-model="vm.roteiroContabil.selected" md-progress="vm.roteiroContabil.promise">
                <thead md-head md-order="vm.roteiroContabil.order">
                    <tr md-row>
                        <th md-column><span></span></th>
                        <th md-column md-order-by="BKN509_CD_ROTCT"><span>Código</span></th>
                        <th md-column md-order-by="BKN509_NM_EVENTO"><span>Evento</span></th>
                        <th md-column md-order-by="BKN509_NR_CRED1"><span>Conta Crédito</span></th>
                        <th md-column md-order-by="BKN509_NR_DEBT1"><span>Conta Débito</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="item" md-select-id="ROW" ng-repeat="item in vm.roteiroContabil.data | orderBy: vm.roteiroContabil.order">
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="vm.update(item)">
                                <md-icon>mode_edit</md-icon>
                            </md-button>
                        </td>
                        <td md-cell>{{item.BKN509_CD_ROTCT}}</td>
                        <td md-cell>{{item.BKN509_NM_EVENTO}}</td>
                        <td md-cell>{{item.BKN509_NR_CRED1}}</td>
                        <td md-cell>{{item.BKN509_NR_DEBT1}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
    <div layout="row" layout-align="center center" class="back-pagination">
        <span flex></span>
        <md-button class="md-primary" ui-sref="menu()">
            <md-tooltip md-direction="left">Voltar para o menu</md-tooltip>
            <md-icon>arrow_back</md-icon>
            Voltar
        </md-button>
        <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.roteiroContabil.limit" md-page="vm.roteiroContabil.page" md-total="{{vm.roteiroContabil.total}}" md-page-select md-on-paginate="vm.roteiroContabil.pagination"></md-table-pagination>
    </div>
</div>