<div layout="column" ng-cloak class="menu">
    <md-content class="content">
        <div flex="100" layout="row" layout-padding ng-init="initMenu($event)">
            <md-list flex="33">
                <md-subheader class="md-no-sticky">CADASTROS</md-subheader>
                <md-divider></md-divider>
                <md-list-item class="md-2-line" ng-repeat="item in vm.menus.menuZone1.items" ng-click="vm.itemClick(item)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.notes }}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
            <md-list flex="33">
                <md-subheader class="md-no-sticky">SERVIÇOS</md-subheader>
                <md-divider></md-divider>
                <md-list-item class="md-2-line" ng-repeat="item in vm.menus.menuZone2.items" ng-click="vm.itemClick(item)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.notes }}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
            <md-list flex="33">
                <md-subheader class="md-no-sticky">RELATÓRIOS</md-subheader>
                <md-divider></md-divider>
                <md-list-item class="md-2-line" ng-repeat="item in vm.menus.menuZone3.items" ng-click="vm.itemClick(item)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.notes }}</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </div>
    </md-content>
</div>