<div layout="column" ng-cloak class="sms-resumo-cpf" ng-init="vm.init()">
    <form name="formSearch" class="filter">
        <h5>Utilize os campos abaixo para filtrar a listagem.</h5>
        <div layout-gt-sm="row">
            <md-input-container>
                <label>Movimento</label>
                <md-datepicker ng-model="vm.filter.MG004_DT_MOVTO"></md-datepicker>
            </md-input-container>

            <md-input-container flex-gt-sm layout-xs="100">
                <label>CPF</label>
                <input name="MG004_NR_CPF" ng-model="vm.filter.MG004_NR_CPF" ui-br-cpf-mask>
                <div ng-messages="form.MG004_NR_CPF.$error" multiple md-auto-hide="false">
                    <div ng-message="MG004_NR_CPF">CPF inválido.</div>
                </div>
            </md-input-container>
        </div>
    </form>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.smsResumoCpf.selected.length">
        <div class="md-toolbar-tools">
            <span>Resumo por CPF</span>
            <span flex></span>
            <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                <md-icon>refresh</md-icon>
                Atualizar listagem
            </md-button>
        </div>
    </md-toolbar>

    <md-content class="content" flex>
        <md-table-container>
            <table md-table md-row-select="false" multiple="true" ng-model="vm.smsResumoCpf.selected" md-progress="vm.smsResumoCpf.promise">
                <thead md-head md-order="vm.smsResumoCpf.order">
                    <tr md-row>
                        <th md-column md-order-by="MG004_NR_CPF"><span>CPF</span></th>
                        <th md-column md-order-by="MG004_DT_MOVTO"><span>Data do movimento</span></th>
                        <th md-column md-order-by="MG004_TT_MENSO"><span>Qtde msg enviadas</span></th>
                        <th md-column md-order-by="MG004_TT_MENSN"><span>Qtde msg recusadas</span></th>
                        <th md-column md-order-by="MG004_TT_MENS"><span>Qtde msg total</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="item" md-select-id="ROW" ng-repeat="item in vm.smsResumoCpf.data | orderBy: vm.smsResumoCpf.order">
                        <td md-cell>{{item.MG004_NR_CPF | brCpf}}</td>
                        <td md-cell>{{item.MG004_DT_MOVTO | numberToDate | date : 'dd/MM/yyyy'}}</td>
                        <td md-cell>{{item.MG004_TT_MENSO | number}}</td>
                        <td md-cell>{{item.MG004_TT_MENSN | number}}</td>
                        <td md-cell>{{item.MG004_TT_MENS | number}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
    <div layout="row" layout-align="center center" class="back-pagination">
        <span flex></span>
        <md-button class="md-primary" ui-sref="menu()">
            <md-tooltip md-direction="left">Voltar para o menu</md-tooltip>
            <md-icon>arrow_back</md-icon>
            Voltar
        </md-button>

        <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.smsResumoCpf.limit" md-page="vm.smsResumoCpf.page" md-total="{{vm.smsResumoCpf.total}}" md-page-select md-on-paginate="vm.smsResumoCpf.pagination"></md-table-pagination>
    </div>
</div>