<md-dialog ng-cloak flex="80" aria-label="" ng-init="vm.init()" class="default-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Entrada de títulos - Análitico</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form name="formSearch" class="filter">
            <h5>Utilize o campo abaixo para filtrar a listagem.</h5>
            <div layout-gt-sm="row">
                <md-input-container flex-gt-sm="40" flex-xs="100">
                    <label>CPF</label>
                    <input name="CB210_NR_CPFCNPJ" ng-model="vm.filter.CB210_NR_CPFCNPJ" ui-br-cpf-mask>
                    <div ng-messages="formSearch.CB210_NR_CPFCNPJ.$error" multiple md-auto-hide="false">
                        <div ng-message="cpf">CPF inválido.</div>
                    </div>
                </md-input-container>

                <md-input-container flex-gt-sm="40" flex-xs="100">
                    <label>Título</label>
                    <input ng-model="vm.filter.CB210_NR_CONTRA">
                </md-input-container>

                <md-input-container>
                    <label>Data</label>
                    <md-datepicker ng-model="vm.filter.CB209_DT_MOVTO" disabled></md-datepicker>
                </md-input-container>
            </div>
        </form>
        <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.entrada.selected.length">
            <div class="md-toolbar-tools">
                <span>Títulos</span>
                <span flex></span>

                <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                    <md-icon>refresh</md-icon>
                    Atualizar listagem
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-accent md-hue-1" ng-show="vm.entrada.selected.length">
            <div class="md-toolbar-tools">
                <span>{{vm.entrada.selected.length}} {{vm.entrada.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}} </span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.remove()">
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div>
            <md-table-container>
                <table md-table md-row-select="false" multiple="false" ng-model="vm.entrada.selected" md-progress="vm.entrada.promise">
                    <thead md-head md-order="vm.entrada.order">
                        <tr md-row>
                            <th md-column md-order-by="">CPF</th>
                            <th md-column md-order-by="">Sacado</th>
                            <!--- <th md-column md-order-by="">Produto</th> -->
                            <th md-column md-order-by="">Título</th>
                            <th md-column md-order-by="">Valor</th>
                            <th md-column md-order-by="">Vencimento</th>
                            <th md-column md-order-by="">Status</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="item" md-select-id="ROW" ng-repeat="item in vm.entrada.data | orderBy: vm.entrada.order">
                            <td md-cell>{{item.CB210_NR_CPFCNPJ | padLeft : '00000000000' | brCpf}}</td>
                            <td md-cell>{{item.CB201_NM_NMSAC}}</td>
                            <!-- <td md-cell>{{item.CB255_DS_PROD}}</td> -->
                            <td md-cell>{{item.CB210_NR_CONTRA}}</td>
                            <td md-cell>{{item.CB210_VL_VALOR | currency}}</td>
                            <td md-cell>{{item.CB210_DT_VCTO | numberToDate | date : 'dd/MM/yyyy'}}</td>
                            <td md-cell>{{item.CB210_ID_SITPAG | pagamentoSituacao}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.entrada.limit" md-page="vm.entrada.page" md-total="{{vm.entrada.total}}" md-page-select md-on-paginate="vm.entrada.pagination"></md-table-pagination>
        </div>
    </md-dialog-content>
</md-dialog>