<md-dialog ng-cloak aria-label="Boleto" ng-init="vm.init()">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>2ª Via - PDF</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <form name="form">
        <div layout="row" layout-padding>
            <md-input-container class="md-block" flex>
                <label>E-mail</label>
                <input type="email" name="email" ng-model="vm.email" required>
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button class="md-accent md-raised" ng-click="vm.sendEmail()" ng-disabled="form.$invalid || vm.loading">
                    <md-icon>email</md-icon>
                    Enviar e-mail
                </md-button>
            </div>
        </div>
    </form>
    <md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear>
    <iframe id="" src="{{vm.pathPdf}}" style="width: 800px; height: 600px"></iframe>
</md-dialog>