<div layout="column" ng-cloak class="cessionario" ng-init="vm.init()">
    <form name="formSearch" class="filter">
        <h5>Utilize o campo abaixo para filtrar a listagem.</h5>
        <div layout-gt-sm="row">
            <md-input-container flex-gt-sm="33" layout-xs="100">
                <label>Código</label>
                <input type="number" ng-model="vm.filter. CB058_CD_CESS">
            </md-input-container>
            <md-input-container flex-gt-sm="33" layout-xs="100">
                <label>Nome</label>
                <input ng-model="vm.filter. CB058_DS_CESS">
            </md-input-container>
            <md-input-container flex-gt-sm="33" layout-xs="100">
                <label>CNPJ</label>
                <input name=" CB058_NR_CPFCNPJ" ng-model="vm.filter. CB058_NR_CPFCNPJ" ui-br-cnpj-mask>
                <div ng-messages="formUsuarioSearch. CB058_NR_CPFCNPJ.$error" multiple md-auto-hide="false">
                    <div ng-message="cnpj">CNPJ inválido.</div>
                </div>
            </md-input-container>
        </div>
    </form>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.cessionario.selected.length">
        <div class="md-toolbar-tools">
            <span>Cessionário</span>
            <span flex></span>
            <md-button class="md-primary" ng-click="vm.create()">
                <md-icon>add</md-icon>
                Adicionar
            </md-button>
            <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                <md-icon>refresh</md-icon>
                Atualizar
            </md-button>
        </div>
    </md-toolbar>
    <md-toolbar class="md-accent md-hue-1" ng-show="vm.cessionario.selected.length">
        <div class="md-toolbar-tools">
            <span>{{vm.cessionario.selected.length}} {{vm.cessionario.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}} </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.remove()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="content" flex>
        <md-table-container>
            <table md-table md-row-select="true" multiple="true" ng-model="vm.cessionario.selected" md-progress="vm.cessionario.promise">
                <thead md-head md-order="vm.cessionario.order">
                    <tr md-row>
                        <th md-column><span></span></th>
                        <th md-column md-order-by=""><span>Código</span></th>
                        <th md-column md-order-by=""><span>Nome</span></th>
                        <th md-column md-order-by=""><span>CNPJ</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="item" md-select-id="ROW" ng-repeat="item in vm.cessionario.data | orderBy: vm.cessionario.order">
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="vm.update(item)">
                                <md-icon>mode_edit</md-icon>
                            </md-button>
                        </td>
                        <td md-cell>{{item.CB058_CD_CESS}}</td>
                        <td md-cell>{{item.CB058_DS_CESS}}</td>
                        <td md-cell>{{item.CB058_NR_CPFCNPJ | padLeft : '00000000000000' | brCnpj}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
    <div layout="row" layout-align="center center" class="back-pagination">
        <span flex></span>
        <md-button class="md-primary" ui-sref="menu()">
            <md-tooltip md-direction="left">Voltar para o menu</md-tooltip>
            <md-icon>arrow_back</md-icon>
            Voltar
        </md-button>
        <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.cessionario.limit" md-page="vm.cessionario.page" md-total="{{vm.cessionario.total}}" md-page-select md-on-paginate="vm.cessionario.pagination"></md-table-pagination>
    </div>
</div>