<div layout="column" ng-cloak class="example">
    <form name="formSearch" class="filter">
        <h5>Utilize os campos abaixo para filtrar a listagem.</h5>
        <div layout-gt-sm="row">
            <md-input-container flex-gt-sm="25">
                <label>Status</label>
                <md-select ng-model="vm.example.uf">
                    <md-option><em></em></md-option>
                    <md-option ng-repeat="uf in vm.uf" ng-value="uf.id">
                        {{uf.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container flex-gt-sm="25" flex-gt-sm layout-xs="100">
                <label>Conta SICLID</label>
                <input ng-model="vm.filter.contasi">
            </md-input-container>

            <md-input-container flex-gt-sm="25" layout-xs="100">
                <label>Conta COSIF</label>
                <input ng-model="vm.filter.contaco">
            </md-input-container>
        </div>
    </form>
    <md-content class="content">
        <div layout="column" layout-sm="column" layout-align="center center" layout-wrap>

            <!-- <md-button ng-click="vm.back()" ng-show="false">
                <i class="fa fa-chevron-left" aria-hidden="true"></i> Voltar
            </md-button> -->

            <md-button class="md-primary" ng-click="vm.file()">
                <i class="fa fa-file-o" aria-hidden="true"></i> Selecione os registros e clique arquivo para gerar o arquivo de lançamento
                <md-tooltip md-direction="top">
                    Registros pendentes serão desconsiderados
                </md-tooltip>
            </md-button>
        </div>
        <div>
            <px-data-grid id="dgExemplo" class="table-striped table-bordered" px-debug="true" px-control="vm.dgExemploControl" px-init="vm.dgExemploInit(event)" px-config="{{vm.dgExemploConfig}}" px-check="true" px-item-click="vm.itemClick(event)" px-label-function="vm.dgExemploLabel(event)">
            </px-data-grid>
        </div>
    </md-content>
</div>