<md-dialog ng-cloak flex="70" aria-label="" ng-init="vm.init()" class="email-pacote-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Selecione os pacotes desejados</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.cancel()">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
        <form name="formSearch" class="filter">
            <h5>Utilize o campo abaixo para filtrar a listagem.</h5>
            <div layout-gt-sm="row">
                <md-input-container flex-gt-sm="100" layout-xs="100">
                    <label>Nome do pacote</label>
                    <input ng-model="vm.filter.nome">
                </md-input-container>
            </div>
        </form>
        <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.emailPacote.selected.length">
            <div class="md-toolbar-tools">
                <span>Pacote</span>
                <span flex></span>
                <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                    <md-icon>refresh</md-icon>
                    Atualizar listagem
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-accent md-hue-1" ng-show="vm.emailPacote.selected.length">
            <div class="md-toolbar-tools">
                <span>{{vm.emailPacote.selected.length}} {{vm.emailPacote.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}} </span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.remove()">
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div>
            <md-table-container>
                <table md-table md-row-select="true" multiple="true" ng-model="vm.emailPacote.selected" md-progress="vm.emailPacote.promise">
                    <thead md-head md-order="vm.emailPacote.order">
                        <tr md-row>
                            <th md-column md-order-by="EM070_NR_PACOTE"><span>Código</span></th>
                            <th md-column md-order-by="EM070_NM_PACOTE"><span>Nome</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="item" md-select-id="ROW" ng-repeat="item in vm.emailPacote.data | orderBy: vm.emailPacote.order">
                            <td md-cell>{{item.EM070_NR_PACOTE}}</td>
                            <td md-cell>{{item.EM070_NM_PACOTE}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.emailPacote.limit" md-page="vm.emailPacote.page" md-total="{{vm.emailPacote.total}}" md-page-select md-on-paginate="vm.emailPacote.pagination"></md-table-pagination>
        </div>
        <md-actions layout="row" layout-xs="column">

            <span flex></span>

            <md-button class="md-raised md-primary" ng-click="vm.itemClick(vm.emailPacote.selected)" ng-disabled="vm.emailPacote.selected.length === 0">
                <i class="fa fa-check" aria-hidden="true"></i> Vincular
            </md-button>
        </md-actions>
    </md-dialog-content>
</md-dialog>