<div layout="column" ng-cloak class="example">
    <form name="formSearch" class="filter">
        <h5>Utilize os campos abaixo para filtrar a listagem.</h5>
        <div layout-gt-sm="row">
            <md-input-container flex-gt-sm="25" layout-xs="100">
                <label>Nome do arquivo</label>
                <input ng-model="vm.filter.descricao">
            </md-input-container>
        </div>
    </form>
    <md-content class="content">
        <div layout="row" layout-sm="column" layout-align="end center" layout-wrap>
            <md-button class="md-raised" ng-click="vm.getData()">
                <i ng-class="vm.dgExemploControl.working | dataGridRefresh" aria-hidden="true"></i> Atualizar
            </md-button>
        </div>
        <div>
            <px-data-grid id="dgExemplo" class="table-striped table-bordered" px-debug="true" px-control="vm.dgExemploControl" px-init="vm.dgExemploInit(event)" px-config="{{vm.dgExemploConfig}}" px-check="false" px-item-click="vm.itemClick(event)" px-label-function="vm.dgExemploLabel(event)">
            </px-data-grid>
        </div>
    </md-content>
</div>