<div layout="column" ng-cloak class="pagamento-vencido-form" ng-init="vm.init()">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
                <span>Formulário (Pagamento Vencido)</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content layout="column" layout-padding class="content">
        <div>
            <form name="form">
                <md-input-container class="md-block" flex-gt-sm="">
                    <label>Situação</label>
                    <md-select ng-model="vm.pagamento.CB210_ID_SITPAG" ng-change="vm.statusChange()">
                        <md-option ng-repeat="situacao in vm.situacao" ng-value="situacao.id">
                            {{situacao.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Sacado</label>
                        <input name="CB201_NM_NMSAC" ng-model="vm.pagamento.CB201_NM_NMSAC" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>CPF</label>
                        <input name="CB255_DS_PRODR" ng-model="vm.pagamento.CB210_NR_CPFCNPJ" disabled ui-br-cpf-mask>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Contrato</label>
                        <input name="CB210_NR_CONTRA" ng-model="vm.pagamento.CB210_NR_CONTRA" disabled>
                    </md-input-container>


                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Vencimento</label>
                        <input name="CB203_DT_EMISS" ng-model="vm.pagamento.CB203_DT_EMISS" disabled>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Vencimento</label>
                        <input name="CB210_DT_VCTO" ng-model="vm.pagamento.CB210_DT_VCTO" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Valor</label>
                        <input name="CB210_VL_VALOR" ng-model="vm.pagamento.CB210_VL_VALOR" disabled ng-currency>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>CEP</label>
                        <input name="CB201_NR_CEP" ng-model="vm.pagamento.CB201_NR_CEP" ui-br-cep-mask disabled>
                        <div ng-messages="form.CB201_NR_CEP.$error">
                            <div ng-message="cep">CEP inválido.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Endereço</label>
                        <input name="CB201_NM_END" ng-model="vm.pagamento.CB201_NM_END" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="20">
                        <label>Número</label>
                        <input name="CB201_NR_END" ng-model="vm.pagamento.CB201_NR_END" disabled>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Complemento</label>
                        <input name="CB201_DS_COMPL" ng-model="vm.pagamento.CB201_DS_COMPL" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Bairro</label>
                        <input name="CB201_NM_BAIRRO" ng-model="vm.pagamento.CB201_NM_BAIRRO" disabled>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Estado</label>
                        <input name="CB201_SG_ESTADO" ng-model="vm.pagamento.CB201_SG_ESTADO" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Cidade</label>
                        <input name="CB201_NM_CIDADE" ng-model="vm.pagamento.CB201_NM_CIDADE" disabled>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>

    <md-actions layout="row" layout-xs="column">
        <span flex></span>

        <md-button ng-click="vm.cancel()">
            <i class="" aria-hidden="true"></i> Cancelar
        </md-button>

        <md-button class="md-raised md-primary" ng-click="vm.save()" ng-disabled="form.$invalid">
            <i class="fa fa-check" aria-hidden="true"></i> Salvar
        </md-button>
    </md-actions>
</div>