<div layout="column" ng-cloak class="analise-cadastral" ng-init="vm.init()">
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2>
                <span>Análise cadastral</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content layout="column" layout-align="start stretch">

        <md-tabs md-dynamic-height md-center-tabs="true" md-border-bottom md-autoselect md-stretch-tabs="always">

            <md-tab id="tab1">
                <md-tab-label>Receita Federal</md-tab-label>
                <md-tab-body>
                    <div layout-padding>
                        <form name="form">
                            <md-list>

                                <!-- <md-subheader class="md-no-sticky"></md-subheader> -->

                                <md-list-item ng-click="item.enabled = !item.enabled" ng-repeat="item in vm.receita.items">
                                    <p> {{ item.name }} </p>
                                    <md-switch class="md-secondary" ng-model="item.enabled"></md-switch>
                                </md-list-item>

                            </md-list>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab id="tab2">
                <md-tab-label>JUCESP</md-tab-label>
                <md-tab-body>
                    <div layout-padding>
                        <form name="form">
                            <md-list>

                                <!-- <md-subheader class="md-no-sticky"></md-subheader> -->

                                <md-list-item ng-click="item.enabled = !item.enabled" ng-repeat="item in vm.jucesp.items">
                                    <p> {{ item.name }} </p>
                                    <md-switch class="md-secondary" ng-model="item.enabled"></md-switch>
                                </md-list-item>

                            </md-list>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab id="tab3">
                <md-tab-label>SINTEGRA</md-tab-label>
                <md-tab-body>
                    <div layout-padding>
                        <form name="form">
                            <md-list>

                                <!-- <md-subheader class="md-no-sticky"></md-subheader> -->

                                <md-list-item ng-click="item.enabled = !item.enabled" ng-repeat="item in vm.sintegra.items">
                                    <p> {{ item.name }} </p>
                                    <md-switch class="md-secondary" ng-model="item.enabled"></md-switch>
                                </md-list-item>

                            </md-list>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab id="tab4">
                <md-tab-label>SERASA</md-tab-label>
                <md-tab-body>
                    <div layout-padding>
                        <form name="form">
                            <md-list>

                                <!-- <md-subheader class="md-no-sticky"></md-subheader> -->

                                <md-list-item ng-click="item.enabled = !item.enabled" ng-repeat="item in vm.serasa.items">
                                    <p> {{ item.name }} </p>
                                    <md-switch class="md-secondary" ng-model="item.enabled"></md-switch>
                                </md-list-item>

                            </md-list>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab id="tab4">
                <md-tab-label>BOA VISTA</md-tab-label>
                <md-tab-body>
                    <div layout-padding>
                        <form name="form">
                            <md-list>

                                <!-- <md-subheader class="md-no-sticky"></md-subheader> -->

                                <md-list-item ng-click="item.enabled = !item.enabled" ng-repeat="item in vm.boaVista.items">
                                    <p> {{ item.name }} </p>
                                    <md-switch class="md-secondary" ng-model="item.enabled"></md-switch>
                                </md-list-item>

                            </md-list>
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-actions layout="row" layout-xs="column">

        <span flex></span>

        <md-button ng-click="vm.cancel()">
            <i class="" aria-hidden="true"></i> Cancelar
        </md-button>

        <md-button class="md-raised md-primary" ng-click="vm.save()" ng-disabled="form.$invalid">
            <i class="fa fa-check" aria-hidden="true"></i> Salvar
        </md-button>
    </md-actions>
</div>