<div layout="column" ng-cloak class="sms-pacote" ng-init="vm.init()">
    <form name="formSearch" class="filter">
        <h5>Utilize os campos abaixo para filtrar a listagem.</h5>
        <div layout-gt-sm="row">
            <md-input-container flex-gt-sm="50" flex-gt-sm layout-xs="100">
                <label>Código do pacote</label>
                <input ng-model="vm.filter.MG070_NR_PACOTE">
            </md-input-container>

            <md-input-container flex-gt-sm="70" layout-xs="100">
                <label>Nome do pacote</label>
                <input ng-model="vm.filter.MG070_NM_PACOTE">
            </md-input-container>
        </div>
    </form>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.smsPacote.selected.length">
        <div class="md-toolbar-tools">
            <span>Pacote</span>
            <span flex></span>
            <md-button class="md-primary" ng-click="vm.create()">
                <md-icon>add</md-icon>
                Adicionar
            </md-button>
            <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                <md-icon>refresh</md-icon>
                Atualizar listagem
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-accent md-hue-1" ng-show="vm.smsPacote.selected.length">
        <div class="md-toolbar-tools">
            <span>{{vm.smsPacote.selected.length}} {{vm.smsPacote.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}} </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.remove()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="content" flex>
        <md-table-container>
            <table md-table md-row-select="true" multiple="true" ng-model="vm.smsPacote.selected" md-progress="vm.smsPacote.promise">
                <thead md-head md-order="vm.smsPacote.order">
                    <tr md-row>
                        <th md-column><span></span></th>
                        <th md-column md-order-by="MG070_NR_PACOTE"><span>Código</span></th>
                        <th md-column md-order-by="MG070_NM_PACOTE"><span>Nome</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="item" md-select-id="ROW" ng-repeat="item in vm.smsPacote.data | orderBy: vm.smsPacote.order">
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="vm.update(item)">
                                <md-icon>mode_edit</md-icon>
                            </md-button>
                        </td>
                        <td md-cell>{{item.MG070_NR_PACOTE}}</td>
                        <td md-cell>{{item.MG070_NM_PACOTE}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
    <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.smsPacote.limit" md-page="vm.smsPacote.page" md-total="{{vm.smsPacote.total}}" md-page-select md-on-paginate="vm.smsPacote.pagination"></md-table-pagination>
</div>