<div layout="column" ng-cloak class="email-broker" ng-init="vm.init()">
    <form name="formSearch" class="filter">
        <h5>Utilize os campos abaixo para filtrar a listagem.</h5>
        <div layout-gt-sm="row">
            <md-input-container flex-gt-sm="50" flex-gt-sm layout-xs="100">
                <label>Código do broker</label>
                <input ng-model="vm.filter.EM050_NR_BROKER">
            </md-input-container>

            <md-input-container flex-gt-sm="50" layout-xs="100">
                <label>Nome do broker</label>
                <input ng-model="vm.filter.EM050_NM_BROKER">
            </md-input-container>
        </div>
    </form>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.emailBroker.selected.length">
        <div class="md-toolbar-tools">
            <span>Broker (E-mail)</span>
            <span flex></span>
            <md-button class="md-primary" ng-click="vm.create()">
                <md-icon>add</md-icon>
                Adicionar
            </md-button>
            <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                <md-icon>refresh</md-icon>
                Atualizar listagem
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-accent md-hue-1" ng-show="vm.emailBroker.selected.length">
        <div class="md-toolbar-tools">
            <span>{{vm.emailBroker.selected.length}} {{vm.emailBroker.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}} </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.remove()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="content" flex>
        <md-table-container>
            <table md-table md-row-select="true" multiple="true" ng-model="vm.emailBroker.selected" md-progress="vm.emailBroker.promise">
                <thead md-head md-order="vm.emailBroker.order">
                    <tr md-row>
                        <th md-column><span></span></th>
                        <th md-column md-order-by="EM050_NR_BROKER"><span>Código</span></th>
                        <th md-column md-order-by="EM050_NM_BROKER"><span>Nome</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="item" md-select-id="ROW" ng-repeat="item in vm.emailBroker.data | orderBy: vm.emailBroker.order">
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="vm.update(item)">
                                <md-icon>mode_edit</md-icon>
                            </md-button>
                        </td>
                        <td md-cell>{{item.EM050_NR_BROKER}}</td>
                        <td md-cell>{{item.EM050_NM_BROKER}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
    <div layout="row" layout-align="center center" class="back-pagination">
        <span flex></span>
        <md-button class="md-primary" ui-sref="menu()">
            <md-tooltip md-direction="left">Voltar para o menu</md-tooltip>
            <md-icon>arrow_back</md-icon>
            Voltar
        </md-button>
        <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.emailBroker.limit" md-page="vm.emailBroker.page" md-total="{{vm.emailBroker.total}}" md-page-select md-on-paginate="vm.emailBroker.pagination"></md-table-pagination>
    </div>
</div>