<div layout="column" ng-cloak class="notificacao" ng-init="vm.init()">
    <form name="formSearch" class="filter">
        <h5>Utilize os campos abaixo para filtrar a listagem.</h5>
    </form>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.notificacao.selected.length">
        <div class="md-toolbar-tools">
            <span>Notificação</span>
            <span flex></span>
            <md-button class="md-primary" ng-click="vm.create()">
                <md-icon>add</md-icon>
                Adicionar
            </md-button>
            <md-button class="md-primary" ng-click="vm.getData({reset: true})">
                <md-icon>refresh</md-icon>
                Atualizar listagem
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-accent md-hue-1" ng-show="vm.notificacao.selected.length">
        <div class="md-toolbar-tools">
            <span>{{vm.notificacao.selected.length}} {{vm.notificacao.selected.length > 1 ? 'linhas selecionadas' : 'linha selecionada'}} </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.remove()">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="content" flex>
        <md-table-container>
            <table md-table md-row-select="true" multiple="true" ng-model="vm.notificacao.selected" md-progress="vm.notificacao.promise">
                <thead md-head md-order="vm.notificacao.order">
                    <tr md-row>
                        <th md-column><span></span></th>
                        <th md-column md-order-by="CB261_ID_STATUS"><span>Status</span></th>
                        <th md-column md-order-by="CB261_CD_PUBLIC"><span>Tipo</span></th>
                        <th md-column md-order-by="CB261_NM_MSG"><span>Mensagem</span></th>
                        <th md-column md-order-by="CB261_NM_REGRA"><span>Descrição</span></th>
                        <th md-column md-order-by="CB261_TP_ACAO"><span>Ação</span></th>
                        <th md-column md-order-by="CB261_ID_ANEXO"><span>Anexar documento</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="item" md-select-id="ROW" ng-repeat="item in vm.notificacao.data | orderBy: vm.notificacao.order">
                        <td md-cell>
                            <md-button class="md-icon-button" ng-click="vm.update(item)">
                                <md-icon>mode_edit</md-icon>
                            </md-button>
                        </td>
                        <td md-cell>{{item.CB261_ID_STATUS | notificacaoStatus}}</td>
                        <td md-cell>{{item.CB261_CD_PUBLIC | notificacaoTipo}}</td>
                        <td md-cell>{{item.CB261_NM_MSG}}</td>
                        <td md-cell>{{item.CB261_NM_REGRA}}</td>
                        <td md-cell>{{item.CB261_TP_ACAO | notificacaoAcao}}</td>
                        <td md-cell>{{item.CB261_ID_ANEXO | notificacaoAnexo}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
    <div layout="row" layout-align="center center" class="back-pagination">
        <span flex></span>
        <md-button class="md-primary" ui-sref="menu()">
            <md-tooltip md-direction="left">Voltar para o menu</md-tooltip>
            <md-icon>arrow_back</md-icon>
            Voltar
        </md-button>
        <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Qtd. por página:', of: 'de'}" md-limit="vm.notificacao.limit" md-page="vm.notificacao.page" md-total="{{vm.notificacao.total}}" md-page-select md-on-paginate="vm.notificacao.pagination"></md-table-pagination>
    </div>
</div>